.card {
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    float: left;
    height: 300px;
    width: 33%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    border: black solid 1px;
    float: left;
    width: 100%;
}