body {
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 20px;
  background-color: #4B647F;
} 

header {
  position:fixed;
  left:0px;
  top:0px;
  height:60px;
  width:100%;
  padding-left: 10px;
  background:#6e869e;
  color: white;
}

h1 {  
  text-overflow:ellipsis;
}

a:link {
  text-decoration: none; color: white;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:#6e869e;
  color: white;
}
footer p {
  text-align: center;
}

main {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  width:100%;
  max-width: 1000px;
  min-width: 300px;
}

.linkActive{
  pointer-events: none;
  color:#66F6F0;
}
