body {
  background-color: #4B647F;
  font-family: sans-serif -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    ;
  margin: 0px;
}


h1 {  
  text-overflow:ellipsis;
  color:  white;
}

a:link {
  text-decoration: none;
}

.noti {
  width : 40px;
  height : 40px;
  margin: 10px;
  background-image: url('./images/help_black_24dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.noti div{
  opacity: 0;
  visibility: hidden;
}
.noti:hover {
  background-image: url('./images/help_white_24dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.noti:hover div{
  position:relative;
  visibility: visible;
  top:40px;
  opacity: 1;
  width : 250px;
  background-color: #6d7a8a;
  transition : all 0.3s ease-in-out;
  padding: 5px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:#6e869e;
  color: white;
}
footer p {
  text-align: center;
}

main {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.photoinfo{
	display: flex;
    justify-content: flex-start;
    align-items: center;
	padding: 0px 20px;
}
.photomosaic{	
	padding: 25px;
	padding-top: 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width:100%;
  max-width: 1000px;
  min-width: 300px;
}

.linkActive{
  pointer-events: none;
  color:#66F6F0;
}
