header{
    position:fixed;
   left:0px;
   top:0px;
}
.width100 {
    width : 100%;
}
.widthS {
    width : 50px;
}
.dispNone {
    display : none;
}
canvas{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 800px;
}