.block {
    display:block;
}

.dispNone {
    display:none;
}

.popUpContainer {
    background-color: white;
}

.popUpContainer div{
    width: 100%;
    height:50px;
} 
.thumbnailImg {
    width : 100%;
}